<div id="<%= dom_id participant %>">
  <p>
    <strong>Poll:</strong>
    <%= participant.poll_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= participant.name %>
  </p>

  <p>
    <strong>Cookie:</strong>
    <%= participant.cookie_id %>
  </p>

</div>
