<div id="<%= dom_id response %>">
  <p>
    <strong>Participant:</strong>
    <%= response.participant_id %>
  </p>

  <p>
    <strong>Time slot:</strong>
    <%= response.time_slot_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= response.status %>
  </p>

</div>
